/* List style */
.list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.list td, .list th {
    border: 1px solid #ddd;
    padding: 8px;
}

.list tr:nth-child(even){background-color: #f2f2f2;}

.list tr:hover {background-color: #ddd;}

.list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: maroon;
    color: white;
}

.highlighted {
   -moz-transition: all .7s ease-in;
   -o-transition: all .7s ease-in;
   -webkit-transition: all .7s ease-in;
   transition: all .7s ease-in;
   padding: 20px;
}

.highlighted:hover {
    background: yellow;
}

/* Form Style */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchContainer {
  width: 100%;
}

input[type=submit] {
    display: flex;
    width: 100%;
    background-color: maroon;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: green;
}

.button {
    text-align: center;
    /*width: 30%;*/
    background-color: maroon;
    color: white;
    padding: 12px 12px;
    /*margin: 10px 0;*/
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: green;
}

label {
    fond-color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    cursor: default;
}

#food_form {
    width: 100%;
}

#foodfilter{
  width: 100%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.red {
  color: red
}

.green {
  color: green
}

.allmeals {
  display: grid;
  grid-template: 40% 40% / 50% 50%;
  grid-gap: 10px;
}

.totals-element {
  display: grid;
  grid-template: 40% / auto 50% auto;
  grid-gap: 10px;
}
.totals-element div:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.meal-buttons {
  display: grid;
  grid-template: 100px / 33% 33% 33% ;
  grid-gap: 10px;
}

.meal-buttons div:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.center-content {
  padding-left: 15%;
  padding-right: 15%;
}

#create-new-foods-style {
  padding-top: 3%;
  padding-left:  42%;
  padding-right: 40%;
  padding-bottom: 2%;
}


body {
  padding: 50px;
}
