/* List style */
html {
  background-image: url("../src/avocado.jpg");  
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
    width: 100%;

}

.list td, .list th {
    /*border: 1px solid #ddd;*/
    padding: 8px;
}

.list tr:nth-child(odd) {
  background: rgba(255, 255, 255, .7);
}

.list tr:nth-child(even){background-color: #f2f2f2;}

.list tr:hover {background-color: #ddd;}

.list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(64, 0, 0, .7);
    color: white;
}

.highlighted {
   -moz-transition: all .7s ease-in;
   -o-transition: all .7s ease-in;
   -webkit-transition: all .7s ease-in;
   transition: all .7s ease-in;
   padding: 20px;
}

.highlighted:hover {
    background: rgba(255, 255, 0, .5);
}

/* Form Style */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchContainer {
  width: 100%;
}

input[type=submit] {
    display: flex;
    width: 100%;
    background-color: rgba(64, 0, 0, .7);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 18px;
    /*border: 1px solid #ccc;*/
    border-style: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: rgba(34, 95, 34, .7);
}

.button {
    text-align: center;
    /*width: 30%;*/
    background-color: rgba(64, 0, 0, .7);
    color: white;
    padding: 12px 12px;
    /*margin: 10px 0;*/
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
}

.button:hover {
    background-color: rgba(34, 95, 34, .7);
}

label {
   /* fond-color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    /*cursor: default;*/
}

#food_form {
    width: 100%;
}

#foodfilter{
  width: 100%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.red {
  color: red
}

.green {
  color: green
}

.allmeals {
  display: grid;
  grid-template: 40% 40% / 48% 48%;
  grid-gap: 4%;
}

.totals-element {
  display: grid;
  grid-template: 40% / auto 50% auto;
  grid-gap: 10px;
}
.totals-element div:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.meal-buttons {
  display: grid;
  grid-template: 100px / 33% 33% 33% ;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.meal-buttons div:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
}

#create-new-foods-style {
  padding-top: 3%;
  padding-left:  42%;
  padding-right: 40%;
  padding-bottom: 2%;
}

.center-content {
  padding-left: 15%;
  padding-right: 15%;
}

body {
  padding: 50px;
}

.totals-element-page-search {
  display: grid;
  grid-template: 1000px / auto 50% auto;
  grid-gap: 10px;
}

.totals-element-page-search div:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
}

h1, h2, h3, h4, h5, h6, label {
  /*color: white;*/
  text-shadow: 2px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
